name: Automated Release

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - tt/*

jobs:
  release:
    name: Release
    runs-on: github-ubuntu-latest-s
    steps:
      - name: Get Release Version
        id: get-release-version
        uses: SonarSource/release-github-actions/get-release-version@v1
        with:
          branch: master
